<a href="https://colab.research.google.com/github/AndresWV/AndresWV.github.io/blob/main/3_fold_CV_para_Penguin_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargar libreria pandas, numpy y knn

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

KNN para peguin dataset

1.- Cargar penguin dataset

In [ ]:
df = pd.read_csv("penguins_size.csv").dropna()
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

2.- Generar data y target

In [ ]:
X = df.select_dtypes(exclude=['object'])
y = df.species

3.- Separar el dataset para dejar la mitad para entrenar y la otra mitad para test

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0, train_size=0.5)

4.- Generar knn con 3 vecinos

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)

5.- Entrenar modelo y generar prediccion con los datos apartado para el test

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
#entrenamiento
knn.fit(X_train, y_train)
#prediccion
prediction = knn.predict(X_test)
accuracy_score(y_test, prediction)

0.7784431137724551

***Proceso de validación cruzada***

1.- Entrenar con el conjunto de test y predecir con el conjunto de entrenamientos generado anteriormente

In [18]:

entrenamientoDataset = knn.fit(X_test,y_test).predict(X_train)
testDataset = knn.fit(X_train,y_train).predict(X_test)
#Evaluar ambas certezas
accuracy_score(y_train, entrenamientoDataset), accuracy_score(y_test, testDataset)

(0.7365269461077845, 0.7784431137724551)

2.- Generar los 10 folders de la validacion cruzada

In [25]:
from sklearn.model_selection import cross_val_score
certezas = cross_val_score(knn, X,y,cv=10)
print(certezas)

[0.67647059 0.79411765 0.76470588 0.79411765 0.72727273 0.72727273
 0.78787879 0.81818182 0.90909091 0.87878788]

3.-  certeza promedio resultante

In [28]:
print("La ceterza promedio resultante es: ",np.mean(certezas))

La ceterza promedio resultante es:  0.7877896613190731