<a href="https://colab.research.google.com/github/AndresWV/AndresWV.github.io/blob/main/ProyectoWisdm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Librerias usadas**

In [37]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder

**1) Obtain**

1.1 Abrir el archivo

In [38]:
wisdmHarFile = open('WISDM_ar_v1.1_raw.txt')

1.2 df con los datos

In [ ]:

#wisdmHarDf = pd.DataFrame(data = wisdmHarFile) 
#wisdmHarDf.head()

Empty DataFrame
Columns: []
Index: []

**Entrega 02 - SCRUB**



Eliminar filas con datos faltantes

Tomar lineas

In [39]:
readLiness = wisdmHarFile.readlines()

Crear Df con los datos limpios, indicando las lineas con datos faltantes(print en el mismo formato solicitado)

In [40]:
wisdmHarDf = []

for nLine,line in enumerate(readLiness):
    try:
        #Separar los datos para extraer valores de las col
        line = line.split(',')
        #Quitar punto y coma del final
        lineStrip = line[5].split(';')[0]
        #Quitar saltos espacios de inicio y fin
        lineStrip = lineStrip.strip()
        #Si queda vacio salta a la excepción para que no se agregue al df
        if lineStrip == '':
            break;
        col = [line[0], line[1], line[2], line[3], line[4], lineStrip]
        #agregar col limpia
        wisdmHarDf.append(col)
    except:
        print('Error at line number: ', nLine)

Error at line number:  281873
Error at line number:  281874
Error at line number:  281875

Agregar al DataFrame los nombres de las columnas

In [41]:
columns = ['user', 'activity', 'time', 'x', 'y', 'z']
wisdmHarDf2 = pd.DataFrame(data = wisdmHarDf, columns = columns)



Visualizar las 5 primeras filas del DataFrame (.head())

In [42]:
wisdmHarDf2.head()

  user activity            time            x          y            z
0   33  Jogging  49105962326000   -0.6946377  12.680544   0.50395286
1   33  Jogging  49106062271000     5.012288  11.264028   0.95342433
2   33  Jogging  49106112167000     4.903325  10.882658  -0.08172209
3   33  Jogging  49106222305000  -0.61291564  18.496431    3.0237172
4   33  Jogging  49106332290000   -1.1849703  12.108489     7.205164

Buscar datos nulos y eliminarlos si es que existen

In [45]:
nVacios = wisdmHarDf2.isnull().sum().sum()
if nVacios>0:
  wisdmHarDf2 = wisdmHarDf2.dropna()
else:
  print("No hay datos nulos!")

No hay datos nulos!

Visualizar los tipo de datos a los que pertenece cada columna (.info())

In [46]:
wisdmHarDf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343416 entries, 0 to 343415
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user      343416 non-null  object
 1   activity  343416 non-null  object
 2   time      343416 non-null  object
 3   x         343416 non-null  object
 4   y         343416 non-null  object
 5   z         343416 non-null  object
dtypes: object(6)
memory usage: 15.7+ MB

Cambiar el tipo de datos de las variables predictoras a valores reales, para realizar la clasificación

In [47]:
wisdmHarDf2 = wisdmHarDf2.astype({'x':'float','y':'float','z':'float'})

Imprimir los tipos de datos de las variables del DataFrame

In [48]:
wisdmHarDf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343416 entries, 0 to 343415
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user      343416 non-null  object
 1   activity  343416 non-null  object
 2   time      343416 non-null  object
 3   x         343416 non-null  float64
 4   y         343416 non-null  float64
 5   z         343416 non-null  float64
dtypes: float64(3), object(3)
memory usage: 15.7+ MB

Eliminar las columnas que no se utilizaran para la clasificación

In [52]:
wisdmHarDf3 = wisdmHarDf2.drop(['user', 'time'], axis=1)
wisdmHarDf3.head()

KeyError: ignored

Utilizar el comando value_counts para obtener un detalle de cuantas instancias se tienen por actividad. El objetivo consiste en identificar la presencia del balance o desbalance en las categorías a modelar

In [51]:
wisdmHarDf3.value_counts('activity')

activity
Walking       137375
Jogging       129392
Upstairs       35137
Downstairs     33358
Sitting         4599
Standing        3555
dtype: int64

Este proyecto considera datos con un desbalance de clases. Es necesario balancearlos para que los modelos operen de manera adecuada. Existen muchas maneras de realizar un balance, pero en este proyecto utilizaremos una estrategia sencilla e intuitiva. Simplemente debe identificar la actividad que contenga el número menor de instancias. Se debe realizar un muestreo para las otras actividades utilizando ese valor. De esta manera todas las clases tendrán la misma cantidad de instancias.

Establecer el número de instancias y dimensiones del data frame resultante (shape)

Volver a imprimir la cantidad de instancias por categoría para verificar que todo esté en orden. (value_counts)

In [ ]:
wisdmHarDf3.value_counts('activity')

Volver a visualizar las cinco primeras líneas del DataFrame para revisar que todo esté en orden (head)

In [ ]:
wisdmHarDf3.head()

  activity         x          y         z
0  Jogging -0.694638  12.680544  0.503953
1  Jogging  5.012288  11.264028  0.953424
2  Jogging  4.903325  10.882658 -0.081722
3  Jogging -0.612916  18.496431  3.023717
4  Jogging -1.184970  12.108489  7.205164

Separar las variables predictoras (X) de las ctegorias o etiquetas (y)

Estandarizar los datos numericos (StandardScaler)